<div class="row">
  <div class="col-1"></div>
  <div class="col-10 ">

<div class="w3-container shadow-css bg-white">
  <h2>Active Tabs</h2>
  <p>To highlight the current tab/page the user is on, add a color class, and use JavaScript to update the active link.</p>

  <div class="w3-bar">
    <% data.products.each_with_index do |product, index| %>
      <% if index.zero? %>
        <button class="w3-bar-item w3-button tablink w3-red" onclick="fullstack(event,'<%= product.name %>')"><%=product.name%></button>
      <% else %>
        <button class="w3-bar-item w3-button tablink" onclick="fullstack(event,'<%= product.name %>')"><%= product.name %></button>
      <% end %>
    <% end %>
  </div>

  <% data.products.each_with_index do |product, index| %>
    <% if index.zero? %>
      <div id='<%= product.name %>' class="w3-container w3-border city">
        <h2><%= product.name %></h2>
        <p><%= product.description %></p>
        <%= image_tag(product.image) %>
      </div>
    <% else %>
      <div id='<%= product.name %>' class="w3-container w3-border city" style="display:none">
        <h2><%= product.name %></h2>
        <p><%= product.description %></p>
        <%= image_tag(product.image) %>
      </div>
    <% end %>
  <% end %>
</div>


  </div>
</div>

<div class="row invisible tech-device">
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam facilis adipisci velit excepturi totam nobis et assumenda temporibus? Eius accusamus recusandae velit enim tempora nemo incidunt at fuga ex?</h1>
</div>
