<div class="row">
  <div class="col-1"></div>
  <div class="col-10 ">

<div class="w3-container shadow-css bg-white tech-device">
  <div class="name-title pb-3 text-center">
    <h2>Machine Learning</h2>
  </div>
  <p>To highlight the current tab/page the user is on, add a color class, and use JavaScript to update the active link.</p>

  <div class="w3-bar">
    <% data.products2.each_with_index do |product, index| %>
      <% if index.zero? %>
        <button class="w3-bar-item w3-button tablink2 w3-blue" onclick="DataSci(event,'<%= product.name %>')"><%=product.name%></button>
      <% else %>
        <button class="w3-bar-item w3-button tablink2" onclick="DataSci(event,'<%= product.name %>')"><%= product.name %></button>
      <% end %>
    <% end %>
  </div>

  <% data.products2.each_with_index do |product, index| %>
    <% if index.zero? %>
      <div id='<%= product.name %>' class="w3-container w3-border city2">
        <div class="row">
          <div class="col-6 py-5 px-3">
            <h2><%= product.name %></h2>
            <p><strong>What is it?</strong></p>
            <p><%= product.description %></p>
            <% unless product.inspiration.nil? %>
              <p><strong>Inspiration</strong></p>
              <p><%= product.inspiration %></p>
            <% end %>
            <% unless product.techstacks.nil? %>
              <p><strong>Tech stacks</strong></p>
              <p><%= product.techstacks %></p>
            <% end %>
            <p class="h1">
              <a href=<%=product.url%> style="text-decoration:none; color:black;"><i class="fas fa-eye"></i> </a>
              <a href=<%=product.urlgh%> style="text-decoration:none; color:black;"><i class="devicon-github-original-wordmark"></i></a>
            </p>
          </div>
          <div class="col-6 d-flex justify-content-center" style="align-items: center;">
            <div class="text-center">
              <%= image_tag product.image, style: "width:400px;" %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div id='<%= product.name %>' class="w3-container w3-border city2" style="display:none">
        <div class="row">
          <div class="col-6 py-5 px-3">
            <h2><%= product.name %></h2>
            <p><strong>What is it?</strong></p>
            <p><%= product.description %></p>
            <% unless product.inspiration.nil? %>
              <p><strong>Inspiration</strong></p>
              <p><%= product.inspiration %></p>
            <% end %>
            <% unless product.techstacks.nil? %>
              <p><strong>Tech stacks</strong></p>
              <p><%= product.techstacks %></p>
            <% end %>
            <p class="h1">
              <a href=<%=product.url%> style="text-decoration:none; color:black;"><i class="fas fa-eye"></i> </a>
              <a href=<%=product.urlgh%> style="text-decoration:none; color:black;"><i class="devicon-github-original-wordmark"></i></a>
            </p>
          </div>
          <div class="col-6 d-flex justify-content-center" style="align-items: center;">
            <div class="text-center">
              <%= image_tag product.image, style: "width:400px;" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


  </div>
</div>

<div class="row invisible tech-device">
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam facilis adipisci velit excepturi totam nobis et assumenda temporibus? Eius accusamus recusandae velit enim tempora nemo incidunt at fuga ex?</h1>
</div>

<%# mobile device %>
<div class="row mobile py-5">
  <div class="w3-container shadow-css" style="background-color:rgba(255,255,255,0.7)">
    <div class="name-title text-center">
      <h2>Machine Learning</h2>
    </div>
    <div class="w3-bar">
      <% data.products2.each_with_index do |product, index| %>
        <% if index.zero? %>
          <button class="w3-bar-item tablink2 btn-secondary w3-blue" onclick="DataSci(event,'<%= product.name %>2')"><%=product.name%></button>
        <% else %>
          <button class="w3-bar-item tablink2 btn-secondary" onclick="DataSci(event,'<%= product.name %>2')"><%= product.name %></button>
        <% end %>
      <% end %>
    </div>

    <% data.products2.each_with_index do |product, index| %>
      <% if index.zero? %>
        <div id='<%= product.name %>2' class="w3-container w3-border city2">
          <div class="row">
            <div class="py-5 px-3">
              <h2><%= product.name %></h2>
              <p><strong>What is it?</strong></p>
              <p><%= product.description %></p>
              <% unless product.inspiration.nil? %>
                <p><strong>Inspiration</strong></p>
                <p><%= product.inspiration %></p>
              <% end %>
              <% unless product.techstacks.nil? %>
                <p><strong>Tech stacks</strong></p>
                <p><%= product.techstacks %></p>
              <% end %>
              <p class="h1">
                <a href=<%=product.url%> style="text-decoration:none; color:black;"><i class="fas fa-eye"></i> </a>
                <a href=<%=product.urlgh%> style="text-decoration:none; color:black;"><i class="devicon-github-original-wordmark"></i></a>
              </p>
            </div>
            <div class="d-flex justify-content-center" style="align-items: center;">
              <div class="text-center">
                <%= image_tag product.image, style: "width:349px;" %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div id='<%= product.name %>2' class="w3-container w3-border city2" style="display:none">
          <div class="row">
            <div class="py-5 px-3">
              <h2><%= product.name %></h2>
              <p><strong>What is it?</strong></p>
              <p><%= product.description %></p>
              <% unless product.inspiration.nil? %>
                <p><strong>Inspiration</strong></p>
                <p><%= product.inspiration %></p>
              <% end %>
              <% unless product.techstacks.nil? %>
                <p><strong>Tech stacks</strong></p>
                <p><%= product.techstacks %></p>
              <% end %>
              <p class="h1">
                <a href=<%=product.url%> style="text-decoration:none; color:black;"><i class="fas fa-eye"></i> </a>
                <a href=<%=product.urlgh%> style="text-decoration:none; color:black;"><i class="devicon-github-original-wordmark"></i></a>
              </p>
            </div>
            <div class="d-flex justify-content-center" style="align-items: center;">
              <div class="text-center">
                <%= image_tag product.image, style: "width:349px;" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


    </div>
  </div>
</div>

