<div class="container-fluid background">

<%= partial 'partials/navbar' %>

<!-- Page start -->
  <div class="intro">
    <div class="name-title">
      <h1>Hello</h1>
    </div>
    <svg class="arrow">
      <path class="a1" d="M0 0 L30 22 L60 0"></path>
    </svg>
  </div>
  <!-- Gif -->
  <%= partial 'partials/gif' %>
  <%= partial 'partials/terminal' %>


  <!-- Computer -->
  <%= partial 'partials/device' %>

  <!-- Banner -->
  <%= partial 'partials/banner' %>
  <!-- Transition -->


  <div class="background2">

  <%= partial 'partials/transition' %>
  <!-- summary of skills -->
  <%= partial 'partials/summary' %>
  <%#= partial 'partials/summary2' %>

  <!-- Projects Section -->
  <%= partial 'partials/realprojects' %>
  <%= partial 'partials/realprojects2' %>
<%#= partial 'partials/projects' %>
  </div>
</div>



<script>
var nystories = document.querySelector("p").offsetTop;
window.onscroll = function() {
  if (window.pageYOffset > 0) {
 var opac = (window.pageYOffset / nystories);
    console.log(opac);
  // document.body.style.background = "linear-gradient(rgba(255, 255, 255, " + (opac/15) + "), rgba(255, 255, 255, " + (opac/15) + ")), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/times-square-perspective.jpg) no-repeat";
  // document.querySelector(".background").style.background = "linear-gradient(rgba(255, 255, 255, " + (opac/15) + "), rgba(255, 255, 255, " + (opac/15) + ")), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/times-square-perspective.jpg) no-repeat";
  if (opac > 170) {
      document.querySelector(".background").style.background = "linear-gradient(rgba(255, 255, 255, " + (1-(opac-170)/100) + "), rgba(255, 255, 255, " + (1-(opac-170)/100) + ")), url(/assets/images/bottom.gif) no-repeat";
  } else if(opac <= 170) {
    document.querySelector(".background").style.background = "linear-gradient(rgba(255, 255, 255, " + (opac/100) + "), rgba(255, 255, 255, " + (opac/100) + ")), url(/assets/images/background.gif) no-repeat";
  }
  }
}

// tabs

function terminal(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("terminal");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}

function summary(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("skill");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}


function fullstack(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}

function DataSci(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city2");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink2");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-blue", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-blue";
}
</script>
