<%= partial 'partials/navbar' %>

<!-- Page start -->
<div class="container-fluid ">
  <div class="intro">
    <div class="name-title">
      <h1>Hello</h1>
    </div>
    <svg class="arrow">
      <path class="a1" d="M0 0 L30 22 L60 0"></path>
    </svg>
  </div>

  <%= image_tag "mathseqn.gif", alt: "Mew_photo", class: 'shadow-css w-100'%>
  <!-- Banner -->
  <%= partial 'partials/banner' %>

  <div class="device device-macbook-pro tech-device">
    <div class="device-frame">
      <img class="device-content" src=<%=image_path(data.products.first.image)%>>
    </div>
    <div class="device-stripe"></div>
    <div class="device-header"></div>
    <div class="device-sensors"></div>
    <div class="device-btns"></div>
    <div class="device-power"></div>
    <div class="device-home"></div>
  </div>

  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
</div>
