<div class="container-fluid background">

<%= partial 'partials/navbar' %>

<!-- Page start -->
  <div class="intro">
    <div class="name-title">
      <h1>Welcome</h1>
    </div>
    <svg class="arrow">
      <path class="a1" d="M0 0 L30 22 L60 0"></path>
    </svg>
  </div>
  <!-- Gif -->
  <%= partial 'partials/gif' %>
  <%= partial 'partials/terminal' %>


  <!-- Computer -->
  <%= partial 'partials/device' %>

  <!-- Banner -->
  <%= partial 'partials/banner' %>
  <!-- Transition -->
  <%= partial 'partials/transition' %>

  <!-- summary of skills -->
  <%= partial 'partials/profpic' %>
  <%= partial 'partials/summary' %>
  <%#= partial 'partials/summary2' %>

  <!-- Projects Section -->
  <%= partial 'partials/realprojects' %>
  <%= partial 'partials/realprojects2' %>
  <%#= partial 'partials/projects' %>

</div>



<script>
// var nystories = document.querySelector("p").offsetTop;
var nystories = 12
window.onscroll = function() {
  if (window.pageYOffset > 0) {
 var opac = (window.pageYOffset / nystories);
    console.log(opac);
  // document.body.style.background = "linear-gradient(rgba(255, 255, 255, " + (opac/15) + "), rgba(255, 255, 255, " + (opac/15) + ")), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/times-square-perspective.jpg) no-repeat";
  // document.querySelector(".background").style.background = "linear-gradient(rgba(255, 255, 255, " + (opac/15) + "), rgba(255, 255, 255, " + (opac/15) + ")), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/times-square-perspective.jpg) no-repeat";
  if (opac > 430) {
    document.querySelector(".background").style.background = "linear-gradient(rgba(255, 255, 255, " + (1-(opac-430)/150) + "), rgba(255, 255, 255, " + (1-(opac-430)/150) + ")), url(/assets/images/blue.jpg) no-repeat";
  }else if (opac > 350) {
    document.querySelector(".background").style.background = "linear-gradient(rgba(255, 255, 255, " + ((opac-350)/50) + "), rgba(255, 255, 255, " + ((opac-350)/50) + ")), url(/assets/images/test.jpg) no-repeat";
  } else if (opac > 170) {
      document.querySelector(".background").style.background = "linear-gradient(rgba(255, 255, 255, " + (1-(opac-170)/150) + "), rgba(255, 255, 255, " + (1-(opac-170)/150) + ")), url(/assets/images/test.jpg) no-repeat";
  } else if(opac <= 170) {
    document.querySelector(".background").style.background = "linear-gradient(rgba(255, 255, 255, " + (opac/50) + "), rgba(255, 255, 255, " + (opac/50) + ")), url(/assets/images/bookflip.gif) no-repeat";
  }
  }
}

// data aos

setTimeout(function () { AOS.init(); }, 1000);
AOS.refresh();

// tabs

function terminal(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("terminal");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "block";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(cityName).style.visibility = "block";
  evt.currentTarget.className += " w3-red";
}

function terminal2(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("terminal2");
  for (i = 0; i < x.length; i++) {
    x[i].style.visibility = "visible";
  }
  tablinks = document.getElementsByClassName("tablinks2");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(cityName).style.visibility = "visible";
  evt.currentTarget.className += " w3-red";
}

function summary(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("skill");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinksnew");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}

function summary2(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("skill2");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinksnew2");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  evt.currentTarget.className += " w3-red";

  // var buttons = ['b1', 'b2', 'b3']
  // buttons.forEach(element =>
  //   document.getElementById(element).addEventListener("click", (event) => {
  //     // event.currentTarget.className += " w3-red";
  //     document.getElementById(element).classList.add("w3-red")
  //   })
  // );
  document.getElementById(cityName).style.display = "block";
}


function fullstack(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}

function DataSci(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city2");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink2");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-blue", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-blue";
}
</script>
